/* ---------------------------------------- */
.body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #222; */
  background-color: rgb(206, 204, 204);
}

.card {
  height: 340px;
  width: 450px;
  display: flex;
  position: relative;
  background: linear-gradient(#3e5bff, #b6e5f8);
  border-radius: 5%;
  box-shadow: 10px 10px 5px grey;
}

h5,
h4 {
  font-family: serif;
  color: #222;
  font-size: larger;
}
.but {
  font-family: sans-serif;
  color: ghostwhite;
}
